.about {
  .author {
    display: flex;
    padding: 1em 0;
    gap: 1.5em;
    align-items: center;

    .avatar {
      display: block;
      white-space: normal;

      img {
        display: block;
        min-width: 100px;
        min-height: 100px;
      }
    }

    .info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      .name {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  article {
    padding: 0.5em 0;

    +article {
      background: none;
    }

    header {
      display: flex;
      margin: 0;
      padding-top: 1em;

      h1 {
        font-size: 1.3em;
        font-weight: bold;
      }
    }
  }
}