@use "base/theme";
@use "base/typography";

.archive {
  >article {
    color: theme.$text-color-light;
    margin-left: 0;
    padding: 1em 0 1em;
    position: relative;

    h1 {
      color: theme.$text-color;
      margin-bottom: 0.3em;
      margin-top: 0;
      font-size: 1.5em;

      a {
        color: inherit;
        font-weight: normal;
        display: inline-block;

        &:hover {
          color: theme.$link-color-hover;
        }
      }
    }
  }

  article+article,
  h2+article {
    background: theme.$img-border bottom left repeat-x;
  }

  >h2 {
    display: none;
    float: left;
    background: none;
    font-weight: normal;
    color: theme.$text-color-light;
  }

  a.category,
  time {
    @extend .sans;
    color: theme.$text-color-light;
    text-transform: uppercase;
  }

  a:hover {
    color: theme.$link-color-hover;
  }

  time {
    font-size: 0.9em;
    line-height: 1.2em;

    .month,
    .day {
      display: inline-block;
    }

    .month {
      text-transform: uppercase;
    }

    .year {
      display: inline;
    }
  }

  @media only screen and (min-width: 550px) {

    >article {
      margin-left: 5em;
      padding-left: 4.5em;
    }

    >h2 {
      display: inline-block;
    }

    time {
      position: absolute;
      text-align: right;
      left: 0em;
      top: 1.8em;

      .year {
        display: none;
      }
    }
  }
}