.donate {
  .paypal-btn {
    border: 0;
    padding: 0;
    margin: 0 0 40px 5px;
    width: 144px;
    height: 32px;
    background: transparent url("/assets/images/paypal-donate-up.png") no-repeat 0 0;
    opacity: 1;
    cursor: pointer;
  }

  .paypal-btn:hover {
    opacity: 0.9;
  }

  .paypal-btn:active {
    background: transparent url("/assets/images/paypal-donate-down.png") no-repeat 0 0;
  }

  .webmoney-btn {
    border: 0;
    padding: 0;
    margin: 0 0 40px 5px;
    width: 144px;
    height: 32px;
    background: transparent url("/assets/images/wm-donate-up.png") no-repeat 0 0;
    opacity: 1;
    cursor: pointer;
  }

  .webmoney-btn:hover {
    opacity: 0.9;
  }

  .webmoney-btn:active {
    background: transparent url("/assets/images/wm-donate-down.png") no-repeat 0 0;
  }

  input[type="number"].amount {
    font-size: inherit;
    margin: 0 10px 40px 5px;
    width: 150px;
    height: 26px;
    padding: 0 0 0 4px;
  }

  select.currency {
    font-size: inherit;
    margin: 0 10px 40px 5px;
    width: 90px;
    height: 30px;
    padding: 2px 0 2px 5px;
  }
}
