@use "base/theme";
@use "base/typography";

body>header {
  h1 {
    display: inline-block;
    margin: 0;

    a,
    a:visited,
    a:hover {
      color: theme.$title-color;
      text-decoration: none;
    }
  }

  h2 {
    @extend .sans;

    margin: 0.2em 0 0;
    font-size: 1em;
    color: theme.$subtitle-color;
    font-weight: normal;
  }
}