// Borders
$img-border: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%224%22%20height=%221%22%20viewBox=%220%200%204%201%22%3E%3Crect%20width=%221%22%20height=%221%22%20fill=%22%23666%22%20fill-opacity=%220.45%22/%3E%3C/svg%3E');
$border-color: #f2f2f2 !default;
$highlight-bg: #f8f8f8 !default;

// Main Link Colors
$link-color: #005787 !default;
$link-color-hover: adjust-color($link-color, $lightness: 10%, $saturation: 25%) !default;
$link-color-visited: $link-color !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15%) !default;

// Site header
$title-color: #777 !default;
$subtitle-color: lighten($title-color, 25) !default;

// Text colors
$text-color: #222 !default;
$text-color-light: lighten($text-color, 60) !default;

/* Core theme application */

html {
  overflow-y: scroll;
}

a {
  color: $link-color;
}

a:hover {
  color: $link-color-hover;
}

a:focus {
  color: $link-color-hover;
}

a:visited {
  color: $link-color-visited;
}

a:active {
  color: $link-color-active;
}

a {
  transition: color 0.3s;
}